.App {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 40px;
  border: none;
  padding: 10px;
  background-color: pink;
  cursor: pointer;
  margin-bottom: 40px;
}

.box-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.box-list > .box + .box {
  margin-left: 40px;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.output {
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}
